:root {
  --hue: 165;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* > * {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  color: #fff;
  font-family: 'ITC Avant Garde Gothic Std', 'Titillium Web', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: italic;
  margin: 0;
  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr;
  place-items: center;
}

form,
button,
input,
textarea {
  font-family: inherit;
}

header {
  grid-row: 1;
  width: 100%;
  background-color: hsla(var(--hue), 50%, 50%, 1);
}

  header h1 {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 24px;
  }

main {
  grid-row: 2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

section {
  overflow: auto;
  position: absolute;
  inset: 0;
  transition: transform 250ms ease;
}

  section#view-a {
    background-color: hsla(calc(var(--hue)), 50%, 50%, 1);
  }

  section#view-b {
    background-color: hsla(var(--hue), 50%, 45%, 1);
  }

  section#view-c {
    background-color: hsla(calc(var(--hue)), 50%, 55%, 1);
    transform: translateY(100%);
  }

  section#view-b {
    transform: translateX(100%);
  }

  section#view-d {
    background-color: hsla(calc(var(--hue)), 50%, 40%, 1);
    transform: translateX(-100%);
  }

  [data-view="B"] section#view-a {
    transform: translateX(-100%);
  }

  [data-view="B"] section#view-b {
    transform: translateX(0);
  }

  [data-view="C"] section#view-c {
    transform: translateY(0);
  }

  [data-view="D"] section#view-d {
    transform: translateX(0);
  }

.grid {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) 320px minmax(16px, 1fr);
  align-items: center;
}

  .grid > * {
    grid-column: 2;
  }

.form {
  display: grid;
  grid-template-columns: 1fr min-content;
}

  .form__label,
  .form__input,
  .form__submit {
    letter-spacing: .075em;
    text-transform: uppercase;
  }

  .form__label {
    font-weight: 600;
    grid-column: 1 / -1;
    letter-spacing: .075em;
    text-transform: uppercase;
  }

  .form__input {
    background-color: hsla(var(--hue), 50%, 100%, .4);
    background-color: transparent;
    border: 2px solid hsla(var(--hue), 50%, 100%, 1);
    color: #fff;
    font-weight: 600;
    grid-row: 2;
    margin-top: 8px;
    padding: 12px 8px 8px;
  }

    .form__input::placeholder {
      color: hsla(var(--hue), 50%, 100%, .4);
      vertical-align: bottom;
    }

    .form__input:focus {
      outline: 2px solid hsla(calc(var(--hue) + 180), 50%, 50%, 1);
      grid-column: 1 / 3;
    }

  .form__submit {
    background-color: #fff;
    color: hsla(var(--hue), 50%, 50%, 1);
    border: 2px solid #fff;
    display: block;
    font-weight: 600;
    grid-column: 2;
    grid-row: 2;
    margin-top: 8px;
    margin-left: auto;
    padding: 8px 8px 4px;
  }

  .form__error {
    font-size: .75em;
    font-style: italic;
    grid-column: 1 / -1;
    margin-top: 8px;
    margin-bottom: 0;
  }

.arena {}

  .list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }

    .list__item {
      padding-top: 8px;
    }

      .list__item + .list__item {
        margin-top: 16px;
      }

      .list__item.selected {
        background-color: hsla(calc(var(--hue) + 180), 50%, 50%, 1);
        transform: skewX(-11deg);
      }

      .list__item.selected label {
        transform: skewX(11deg);
      }

      .list__item label {
        color: #fff;
        display: block;
        font-size: 32px;
        font-weight: 600; /* 600 Demi */
        letter-spacing: .075em;
        padding: 4px 8px;
        text-transform: uppercase;
        text-shadow: 0 1px 0 hsla(var(--hue), 50%, 100%, .8),
                     0 -1px 0 hsla(var(--hue), 50%, 0%, .8);
      }

        .list__item label input {
          display: none;
          visibility: hidden;
        }
